body{
    background-image: url(istockphoto-945663596-612x612.jpg);
}
h1{
    color: #020a0e;
    text-align: center;
    

}
p{
    font-size: x-large;
    font-style: italic;
}
h2{
    text-align: center;

}
.center{
    text-align: center;
}
iframe{
    display: block;
    margin: auto;
}
.menu{
    font-style: normal;
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

form{
    text-align: center;
}